<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>新增學生資料</title>
  </head>
  <body>
    <form action="/students" method="POST">
      <label for="name">名稱: </label>
      <input type="text" name="name" />
      <label for="age">年齡: </label>
      <input type="number" name="age" />
      <label for="name">主修:</label>
      <input type="text" name="major" />
      <label for="merit">獎學金:</label>
      <input type="number" name="merit" />
      <label for="other">其他獎學金: </label>
      <input type="number" name="other" />
      <button>新增學生資料</button>
    </form>
  </body>
</html>
