* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(211, 209, 209);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.myCanvas {
  border: 5px solid rgb(70, 71, 81);
}

.myScore {
  margin-top: 1rem;
}

.myScore,
.myScore2 {
  color: rgb(42, 41, 41);
  font-size: 1.5rem;
  padding: 10px;
}

.start {
  padding: 0.25rem 0.5rem;
  background-color: rgb(217, 212, 140);
  font-size: 1.15rem;
  display: block;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.start:hover {
  background-color: rgb(181, 177, 117);
}
